.advertsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
  gap: 1.5rem;
}

.advertsList ul {
  /*   border: 1px solid lightblue;
  border-radius: 5px; */
  padding: 1rem;
}

.advertsList li {
  list-style: none;
}

.advertsList h2 {
  margin-bottom: 0.2rem;
}

.advertsList a {
  text-decoration: none;
  color: black;
}
